#dashboard{
    background-color: #293a46;
}

a{
    color:#fff;
}

.container-fluid{
    margin:50px;
}

.container-fluid a.title{
    font-size:22px;
    color:#fff;
    text-decoration:none;
}

.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainmenu a {
    display: block;
    background-color: #CCC;
    text-decoration: none;
    padding: 10px;
    color: #000;
}

.mainmenu a:hover {
    background-color: #C5C5C5;
    font-weight: 600;
}

.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
}

.submenu a {
    background-color: #999;
}

.submenu a:hover {
    background-color: #666;
    color:#fff;
    font-weight:400;
}

.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}