/********** General **********/
body {
	background: #fcfcfc;
	font-family: 'Roboto', sans-serif;
}
.row {
	text-align: center;
	margin: 0;
	padding: 0;
}
.padding-zero{
	padding-right: 0;
	padding-left: 0;
}
.container-fluid {
	margin: 0;
	padding: 0;
	background: #fff;
}
h1 {
	display: none;
}
h2 {
	letter-spacing: 0.15em;
	font-size: 2em;
	color: #666;
	margin: 30px 0;
	text-align: center;
}
h3 {
	letter-spacing: 0.15em;
	font-size: 1.5em;
	color: #666;
	margin: 10px 0;
	text-align: center;
}
ul {
	margin-left: 0;
	padding-left: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #999;
	margin: 1em 0;
	padding: 0;
	width: 80%;
}
.btn-primary {
	-moz-background: linear-gradient(#777, #000);
	-webkit-background: linear-gradient(#777, #000);
	background: linear-gradient(#777, #000);
	border-color: #666;
	border-radius: 0;
}
.btn-primary:hover {
	-moz-background: linear-gradient(#000, #555);
	-webkit-background: linear-gradient(#000, #555);
	background: linear-gradient(#000, #555);
	border-color: #666;
	border-radius: 0;
}

/********** Nav Menu **********/
#myNavbar {
	padding: 0;
}
.navbar {
	padding: 0;
	border-radius: 0;
	margin: 0;
}
.navbar-nav-search {
	border-radius: 0;
	-moz-background: linear-gradient(#555, #000);
	-webkit-background: linear-gradient(#555, #000);
	background: linear-gradient(#555, #000);
}
.navbar-nav-logo {
	background: #000;
}
.navbar-nav-main {
	border-radius: 0;
	-moz-background: linear-gradient(#000, #555);
	-webkit-background: linear-gradient(#000, #555);
	background: linear-gradient(#000, #555);
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-collapse.collapse {
	height: 50px !important;
}
#header {
	background-color: #000;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
	text-decoration: underline;
	background: none;
}
#search {
	padding: 0;
}
.form-control {
	background-color: #666;
	border: 1px solid #000;
	-moz-background: linear-gradient(#000, #555);
	-webkit-background: linear-gradient(#000, #555);
	background: linear-gradient(#000, #555);
	color: #fff;
}
.btn-default {
	color: #666;
	background-color: #000;
	border: 1px solid #000;
}
.btn-default:hover {
	color: #666;
	border: 1px solid #000;
	-moz-background: linear-gradient(#000, #555);
	-webkit-background: linear-gradient(#000, #555);
	background: linear-gradient(#000, #555);
}

/********** Footer **********/
footer .row {
	background: #000;
	padding: 10px 0;
}
footer .row h4 {
	color: #999;
	font-size: 1.2em;
	margin: 40px 0 20px 0;
	text-align: left;
	letter-spacing: 0.2em;
}
footer .row h5 {
	color: #999;
	font-size: 1.1em;
	text-align: left;
	letter-spacing: 0.2em;
}
footer .row li,
footer .row a {
	color: #999;
	list-style: none;
	text-decoration: none;
	cursor: pointer;
	line-height: 2.5;
	font-size: 0.9em;
	text-align: left;
	letter-spacing: 0.12em;
}
#footer_left,
#footer_middle,
#footer_right {
	padding-left: 50px;
}
#footer_right p {
	color: #999;
	font-size: 0.9em;
	text-align: left;
	margin: 0;
}
.copyright p {
	color: #999;
	font-size: 0.9em;
	text-align: center;
	margin: 0;
	padding: 20px 0;
}

/********** Slider **********/
.carousel-caption h2 {
	letter-spacing: 0.2em;
	font-size: 2em;
	color: #fff;
	text-shadow: 1px 2px 8px #000;
}
.carousel-caption p {
	letter-spacing: 0.1em;
	font-size: 1.5em;
	color: #fff;
	text-shadow: 1px 2px 8px #000;
}
.carousel-inner .item img {
	width: 100%;
}
.carousel-fade .carousel-inner .item {
	-moz-transition-property: opacity;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
	z-index: 2;
}

/********** Home Section1 **********/
.section img {
	width: 100%;
	height: auto;
}
.center-block {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 30px 0;
}
.center-block p {
	font-size: 1em;
	padding: 20px;
	color: #666;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.3;
	transition: all 0.2s ease-out;
}

/********** Home Carousel **********/
.MultiCarousel {
	float: left;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.testemonial {
	padding: 30px;
}
.testemonial p {
	margin: 0 auto;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-size: 1.2em;
	padding: 20px;
	color: #666;
}
.testemonial hr {
    display: block;
    height: 1px;
    border-top: 1px solid #999;
    margin: 1em 0;
    padding: 0;
    width: 100%;
}
.MultiCarousel .MultiCarousel-inner {
	transition: 1s ease all;
	float: left;
	padding: 20px 0;
}
.MultiCarousel .MultiCarousel-inner .item {
	float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
	text-align: center;
	padding: 10px;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst {
	position: absolute;
	top: calc(50% - 20px);
	background-color: #aaa;
	opacity: 0.5;
	border: none;
}
.MultiCarousel .leftLst {
	left: 10px;
}
.MultiCarousel .rightLst {
	right: 10px;
}
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
	background: #ccc;
}

/********** Featured Images **********/
.padding-zero {
	padding: 0;
	margin: 0;
}
#feature {
	padding: 0;
	margin: 0;
}
.features {
	position: relative;
}
.features img {
	opacity: 1;
	display: block;
	transition: .5s ease-in;
	border: 0.5px solid #fff;
	width: 100%;
	height: auto;
}
.features:hover img {
	opacity: .5;
	border: 0.5px solid #fff;
	transition: .5s;
}
.features:hover .text_overlay {
	opacity: 1;
	transition: .5s ease-out;
}
.item img {
	width: 100%;
	height: auto;
}
.content {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 1.2em;
	color: #fff;
	background: rgba(0,0,0,.8);
	width: 100%;
	height: 100%;
	z-index: 50;
	border: 0.5px solid #fff;
}
.table {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0;
}
.cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.inner {
	display: inline-block;
	width: 70%;
}
.inner h2 {
	letter-spacing: 0.2em;
	font-size: 2em;
	color: #fff;
	margin: 0;
}
.inner p {
	letter-spacing: 0.1em;
	font-size: 0.8em;
	margin: 0;
}
.text_overlay {
	opacity: 0;
}

/********** Her Time Page **********/
.MultiCarousel-inner h2 {
	font-size: 1.2em;
}
.section1 {
	position: relative;
}
.section1 img {
	display: block;
	transition: .5s ease-in;
	border: 0.5px solid #fff;
	transition: .5s;
}
.section1 .text_overlay {
	transition: .5s ease-out;
	opacity: 1;
}
.section1 .content {
	background: rgba(0,0,0,0);
}
.section1 .text {
	position: absolute;
	top: 35%;
	left: 35%;
	text-align: center;
}
.section1 h2 {
	letter-spacing: 0.2em;
	font-size: 5em;
	color: #fff;
	text-shadow: 1px 2px 8px #000;
	font-family: 'Libre Baskerville', serif;
}
.section1 h3 {
	letter-spacing: 0.15em;
	font-size: 3em;
	color: #fff;
	font-style: italic;
	text-shadow: 1px 2px 8px #000;
	font-family: 'Libre Baskerville', serif;
}
.section1 img {
	position: relative;
	width: 100%;
	height: auto;
}
.center-block-female {
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.center-block-female p {
	font-size: 1em;
	letter-spacing: .04em;
	color: #666;
	text-align: center;
	padding: 10px;
}
.center-block-female img {
	opacity: 0.8;
}
.center-block-female h3 {
	text-align: center;
}
.MultiCarousel h3 {
	margin: 0;
	padding: 40px;
}

/********** His Time Page **********/
.section1-male {
	position: relative;
}
.section1-male img {
	display: block;
	transition: .5s ease-in;
	border: 0.5px solid #fff;
	transition: .5s;
}
.section1-male .text_overlay {
	transition: .5s ease-out;
	opacity: 1;
}
.section1-male .content {
	background: rgba(0,0,0,0);
}
.section1-male .text {
	position: absolute;
	top: 35%;
	left: 35%;
	text-align: center;
}
.section1-male h2 {
	letter-spacing: 0.2em;
	font-size: 5em;
	color: #fff;
	text-shadow: 1px 2px 8px #000;
}
.section1-male h3 {
	letter-spacing: 0.15em;
	font-size: 3em;
	color: #fff;
	text-shadow: 1px 2px 8px #000;
	font-family: 'Libre Baskerville', serif;
}
.section1-male img {
	position: relative;
	width: 100%;
	height: auto;
}
.center-block-female {
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/********** About Us Page **********/
.about-container {
	opacity: 1;
	display: block;
	transition: .5s ease-in;
	border: 0.5px solid #fff;
	width: 80%;
	height: auto;
	margin: auto;
	position: relative;
	padding-top: 30px; 
}
.about-container img {
	width: 100%;
	height: auto;
}
.content-about {
	position: absolute;
	top: 0%;
	left: 60%;
	-moz-transform: translate(-10%, 20%);
	-webkit-transform: translate(-10%, 20%);
	transform: translate(-10%, 20%);
	font-size: 1.2em;
	color: #333;
	z-index: 50;
	border: 0.5px solid #fff;
	background-color: rgba(255,255,255,.8);
}
.inner-about h2 {
	letter-spacing: 0.1em;
	font-size: 1.0em;
	color: #333;
}
.inner-about p {
	letter-spacing: 0.1em;
	font-size: 0.8em;
	margin: 0;
	padding: 20px
}
.inner-about hr {
    display: block;
    height: 1px;
    border-top: 1px solid #333;
    margin: 1em 0;
    padding: 0;
    width: 100%;
}
.content-about-text p {
	padding: 0 20px 20px 20px;
	font-size: 1.2em;
}

/********** Detail Page **********/
#detail {
	text-align: center;
}
#detail h2 {
	font-size: 1.2em;
	text-align: center;
}
#detail h3 {
	font-size: 1em;
	text-align: center;
}
#detail .center-block {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0
}
#detail .center-block p {
	font-size: 1em;
	padding: 0;
	margin: 0;
	color: #666;
}
#detail hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #999;
    margin: 1em 0;
    padding: 0;
    width: 100%;
}
#small-image1 img {
	width: 50%;
	height: auto;
	padding-top: 40px;
}
.detail-content {
	padding-top: 40px;
	margin: 0;
}
#long-description {
	padding-bottom: 30px;
}

/********* Register Page ************/
.bg-img { 
	background-image: url('/images/rolex.jpg');
	background-repeat: no-repeat;
	padding: 20px 0;
}
#form-box {
	background: rgba(19,24,24,.7);
	padding: 0;
	border: 0.1px solid #9d9d9d;
}
.field-form {
	padding-top: 10px;
	color: #9d9d9d;
}
#register .form-control {
	border: 1px solid #666;
	background: rgba(19,24,24,.8);
	color: #fff;
	width: 80%;
}
.form-group {
	margin: 0;
}
.control-label {
	text-align: right;
	padding-top: 5px;
}
#panel-heading {
	color: #9d9d9d;
	background: rgba(19,24,24,.8);
	border-radius: 0px;
	border: 0.1px solid #9d9d9d;
}
#email,
#password,
#name,
#password_confirmation,
#username,
#street,
#postal_code,
#city,
#province,
#country,
#phone,
#postal {
	border-radius: 50px;
	color: #fff;
}
.field-form .btn.btn-primary {
	margin: 10px;
}

/********* Login Page ************/
#login .form-control {
	border: 1px solid #666;
	-moz-background: rgba(19,24,24,.8);
	-webkit-background: rgba(19,24,24,.8);
	background: rgba(19,24,24,.8);
	color: #fff;
	width: 80%;
}
#form-box .field-form {
	padding-top: 10px;
	color: #9d9d9d;
}
#link {
	color: #9d9d9d;
	padding-bottom: 10px;
}

/********* Profile Page ************/
#profile .form-control {
	-moz-background: rgba(19,24,24,.8);
	-webkit-background: rgba(19,24,24,.8);
	background: rgba(19,24,24,.8);
	color: #fff;
	width: 100%;
}
#profile .bg-img {
	padding: 0;
}
#profile #panel-heading h2 {
	margin: 10px 0;
	text-align: left;
	font-size:1.3em;
}
#profile #panel-heading {
	border: none;
}
#profile .profile-box {
	background: rgba(19,24,24,.9);
	padding: 0;
	border-right: 1px solid #9d9d9d;
}
.profile_box-data {
	padding: 10px 15px;
}
.profile_detail {
	padding:10px 0;
	text-align: left;
	border-bottom: 1px solid #9d9d9d;
	color:#9d9d9d;
	font-size: 1.2em;
}
.profile_sidebar {
	border-right: 1px solid #9d9d9d;
	background-color: #e3d6e3;
	height: 600px;
	padding: 0px;
}
.profile_sidebar ul li {
	list-style-type: none;
	text-align: left;
	padding: 10px 15px;
	width: 100%;
}
.profile_sidebar ul li a {
	color: #9d9d9d;
	text-decoration: none;
	display: block;
}
.profile_sidebar ul li:hover {
	background-color:#fff;
	color: #000;
}
li.active_profile {
	background-color: #ccc;
}

/********* Edit Profile Page ************/
#edit-profile .form-control {
	-moz-background: rgba(19,24,24,.8);
	-webkit-background: rgba(19,24,24,.8);
	background: rgba(19,24,24,.8);
	color: #fff;
	width: 100%;
}
#edit-profile .bg-img {
	padding: 0;
}
#edit-profile #panel-heading h2 {
	margin: 10px 0;
	text-align: left;
	font-size:1.3em;
}
#edit-profile h4 {
	text-align: center;
}
#edit-profile #panel-heading {
	border: none;
}
#edit-profile .profile-box {
	background: rgba(19,24,24,.9);
	padding: 0;
	border-right: 1px solid #9d9d9d;
}
#edit-profile-h4 {
	text-align: left;
	padding: 10px 15px;
	color: #9d9d9d;
}
.edit_profile_form input {
	border: 1px solid #666;
	background: rgba(19,24,24,.8);
	color: #fff;
	width: 80%;
	padding: 7px 15px;
}
#edit-profile .form-control {
	border: 1px solid #666;
	background: rgba(19,24,24,.8);
	color: #fff;
	width: 80%;
}
.edit-profile_detail {
	padding-bottom: 10px;
	text-align: left;
	color:#9d9d9d;
	font-size: 1.2em;
}
.edit_profile_form label {
	text-align: left;
	width: 150px;
	color: #9d9d9d;
}
#change-pwd-h4 {
	padding: 10px 15px;
	color: #9d9d9d;
}
#form-box-change {
	padding: 0;
}

/********** Shopping Cart Page **********/
#cart h1 {
	font-size: 2em;
	display: block;
	color: #666;
}
.shopp_line {
	padding: 0;
}
#shopp_title hr {
	width: 100%;
}
#line_item {
	padding-bottom: 20px;
}
#item_qty input {
	text-align: center;
}
#line_item hr {
	width: 100%;
}
.cart_button {
	margin-bottom: 20px;
}
#order_items h3 {
	font-size: 1.2em;
}
.price_item {
	margin-bottom: 20px;
}
.price_item hr {
	width: 100%;
}
.cart-watch-detail img {
	width: 25%;
}

/********** Checkout Page **********/
.error {
	color: #f00;
}
.pay_left {
	text-align: right;
	font-size: 1.2em;
	margin-bottom: 20px;
}
.pay_right {
	text-align: left;
	font-size: 1em;
	width: 210px;
}
#payment_title hr,
.payment_register hr {
	width: 100%;
}
.payment_line {
	padding: 0;
}
.payment_line p {
	font-size: 1em;
}
.payment_line h2 {
	margin: 0;
	padding: 10px;
}
#checkout h1 {
	font-size: 2em;
	display: block;
	color: #666;
}
#checkout hr {
	width: 100%;
}

/********** Confirm Page **********/
#thankyou_title hr,
.thankyou_info hr {
	width: 100%;
}
.thankyou_info h3 {
	margin-bottom: 20px;
}


/********* Dashboard Page ************/
#dashboard .bg-img {
	padding: 0;
}
#dashboard #panel-heading h2 {
	margin: 10px 0;
	text-align: center;
	font-size: 1.5em;
	color: #ddd;
}
#dashboard #panel-heading {
	border: none;
}
#dashboard .profile-box {
	background: rgba(19,24,24,.9);
	padding: 0;
	border-right: 1px solid #9d9d9d;
}
.dash_box {
	border: 1px solid #ddd;
	padding: 0;
}
.dash_box h2 {
	font-size: 1.5em;
	color: #ddd;
}
.dashboard_box {
	padding: 20px;
}


/********* Watches Admin Page ************/
.watches_bar {
	padding: 0;
	text-align: center;
	font-size: 1.2em;
}
.watches_bar a {
	text-decoration: underline;
}

/********* Edit Admin Page ************/
#edit-admin .form-control {
	-moz-background: rgba(19,24,24,.8);
	-webkit-background: rgba(19,24,24,.8);
	background: rgba(19,24,24,.8);
	color: #fff;
	width: 100%;
}
#edit-admin .watches_bar li {
	padding: 0;
	text-align: center;
	font-size: 1.0em;
	color: #ddd;
	margin-top: 10px;
}
#edit-admin .bg-img {
	padding: 0;
	background: #fff;
}
#edit-admin #panel-heading h2 {
	margin: 10px 0;
	text-align: left;
	font-size:1em;
}
#edit-admin #panel-heading {
	border: none;
}
#edit-admin .profile-box {
	background: rgba(19,24,24,.9);
	padding: 0;
	border-right: 1px solid #9d9d9d;
	height: 700px;
}
#edit-admin-h4 {
	text-align: left;
	padding: 10px 15px;
	color: #9d9d9d;
}
.edit_profile_form input {
	border: 1px solid #666;
	background: rgba(19,24,24,.8);
	color: #fff;
	width: 80%;
	padding: 7px 15px;
}
#edit-admin .form-control {
	border: 1px solid #666;
	background: rgba(19,24,24,.8);
	color: #fff;
	width: 80%;
}
.edit-profile_detail {
	padding-bottom: 10px;
	text-align: left;
	color:#9d9d9d;
	font-size: 1.2em;
}

/********* Include Watch ************/
#include-watch .form-control {
	border: 1px solid #666;
	background: rgba(19,24,24,.8);
	color: #fff;
	width: 80%;
}
#include-watch input {
	border-radius: 0;
}
#include-watch .bg-img {
	padding: 0;
}

/********* Edit Orders ************/
#edit-admin-order .form-control {
	-moz-background: rgba(19,24,24,.8);
	-webkit-background: rgba(19,24,24,.8);
	background: rgba(19,24,24,.8);
	color: #fff;
	width: 100%;
}
#edit-admin-order .watches_bar li {
	padding: 0;
	text-align: center;
	font-size: 1.0em;
	color: #ddd;
	margin-top: 10px;
}
#edit-admin-order .bg-img {
	padding: 0;
	background: #fff;
}
#edit-admin-order #panel-heading h2 {
	margin: 10px 0;
	text-align: left;
	font-size:1em;
}
#edit-admin-order #panel-heading {
	border: none;
}
#edit-admin-order .profile-box {
	background: rgba(19,24,24,.9);
	padding: 0;
	border-right: 1px solid #9d9d9d;
	height: 700px;
}
#edit-admin-h4 {
	text-align: left;
	padding: 10px 15px;
	color: #9d9d9d;
}
#edit-admin-order input {
	border-radius: 0;
}

/********* Watches Admin Page ************/
.watches_bar {
	padding: 0;
	text-align: center;
	font-size: 1.2em;
}
.watches_bar a {
	text-decoration: underline;
}


/********** Responsive **********/
@media only screen and (max-width: 767px) {
	h2 {
		font-size: 0.6em;
		margin: 10px 0;
	}
	h3 {
		font-size: 0.8em;
	}
	.navbar-form {
		margin: 0;
	}
	.navbar-collapse.collapse {
		height: auto !important;
	}
	.btn {
		padding: 6px 12px;
	}
	.input-group .form-control {
		width: 80%;
	}
	.center-block {
		display: block;
		padding: 10px;
	}
	.center-block p {
		font-size: .8em;
	}
	.carousel-caption {
		display: none;
	}
	.carousel-indicators {
		bottom: -10px;
	}
	.carousel-indicators li {
		width: 5px;
		height: 5px;
	}
	.carousel-indicators .active {
		width: 6px;
		height: 6px;
	}
	.pad15 img {
		width: 80%;
		height: auto;
	}
	.MultiCarousel {
		padding: 10px;
	}
	.MultiCarousel .MultiCarousel-inner {
		padding: 10px 0;
	}
	.section1 h2 {
		font-size: 150%;
		margin: 0;
	}
	.section1 h3 {
		font-size: 100%;
		margin: 0;
	}
	.center-block-female {
		display: block;
		padding: 10px;
	}
	.center-block-female p {
		font-size: .8em;
	}
	.section1-male h2 {
		font-size: 150%;
		margin: 0;
	}
	.section1-male h3 {
		font-size: 100%;
		margin: 0;
	}
	.center-block-female {
		display: block;
		padding: 10px;
	}
	.center-block-female p {
		font-size: .8em;
	}
	.content-about {
		display: none;
	}
	.content-about-text p {
		font-size: 0.8em;
	}
	.detail-content {
		padding: 10px 10px 0 10px;
		margin: 0;
	}
	#long-description {
		padding: 0 20px 30px 20px;
	}
	#small-image1 img {
		width: 40%;
		padding-top: 10px;
	}
	#register .form-control {
		width: 100%;
	}
	.field-form .btn.btn-primary {
		float: none;
	}
	#login .form-control {
		width: 100%;
	}
	#profile .form-control {
		width: 100%;
	}
	.profile_sidebar {
		height: 100%;
	}
	.profile_box-data {
		padding: 0 15px;
	}
	#profile .form-control {
		width: 100%;
	}
	.profile_sidebar {
		height: 100%;
	}
	.profile_hd {
		text-align: left;
		padding-left: 20px;
		padding-top: 20px;
		font-size: 2em;
	}
	#change_password input {
		width: 90%;
	}
	.edit_profile_form label {
		padding-left: 10px;
		width: 100%;
	}
	#profile-background {
		width: 400%;
		height: 200%;
		margin-left: -400px;
		position: absolute;
	}
	.button {
		padding-bottom: 20px;
	}
	.form-group button {
		margin: 10px 0;
	}
	#edit-profile h4 {
		margin: 0;
	}
	#item_qty input {
		border: 1px solid #999;
	}
	#line_item {
		padding-bottom: 0;
	}
	#order_items h3 {
		font-size: 1em;
	}
	.payment_line h2 {
		font-size: 1.5em;
	}
	.payment_line p {
		font-size: 1em;
	}
	.pay_left {
		margin-bottom: 0;
		text-align: center;
		padding-left: 20px;
	}
	.pay_right {
		margin-bottom: 10px;
		font-size: 1em;
		width: 100%;
		text-align: center;
	}
	#thankyou_title h3 {
		font-size: 1.2em;
	}
	.thankyou_info h3 {
		font-size: 1.2em;
	}
	.dash_box {
		width: 100%;
	}
	.dashboard_box {
		padding: 0;
	}
}

@media only screen and (min-width:768px) and (max-width:1024px) {
	.navbar-form {
		margin: 0;
		padding: 0;
	}
	.btn {
		padding: 6px;
	}
	.content-about {
		top: 0%;
		left: 50%;
		-moz-transform: translate(-10%, 30%);
		-webkit-transform: translate(-10%, 30%);
		transform: translate(-10%, 30%);
		font-size: .8em;
	}
	.inner-about h2 {
		margin: 10px;
		font-size: .8em;
	}
	.inner-about hr {
	    margin: 0;
	}
	.content {
		font-size: .8em;
	}
	.content-about-text p {
		font-size: .8em;
	}
	.profile_sidebar {
		height: 800px;
	}
	.profile_sidebar {
		height: 800px;
	}
	.edit_profile_form label {
		padding-left: 10px;
		width: 100%;
	}
	#order_items h3 {
		font-size: 1em;
	}
}